#main.container
  %h1.header= 'Welcome to Hamilton Central School Parent Teacher Website'

  %h2.create_header= 'Create a new Account'
  =form_for @user_account, :method => :post do |f|

    .field
      =f.label :username, "Username"
      =f.text_field :username, :required => true

    .field
      =f.label :name, "Full name"
      =f.text_field :name, :required => true

    .field
      =f.label :password, "Password"
      =f.password_field :password, :required => true


    .field
      =f.label :password_confirmation, "Confirm Password"
      =f.password_field :password_confirmation, :required => true


    .field
      =f.label :email, "Email"
      =f.text_field :email, :required => true


    .field
      =f.submit "Create User Account"
