- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #warning.message= flash[:warning]
- elsif flash[:success]
  #success.message= flash[:success]
- elsif flash[:error]
  #error.message= flash[:error]
