=render 'flash_message'

#main.container
  %h3.header Edit event details

  =form_for @calendar_event, :method => :patch do |f|
    =render 'event_form_template', f: f

    -# .field
    -#   =f.label :image, "Image"
    -#   =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .field
      =f.submit "Update event details"
