#main.container
%br
%br

%h3.header Create a new calendar event to list

=form_for @calendar_event, :method => :post do |f|
  =render 'event_form_template', f: f

  .field
    =f.submit "Create event"
