#main.container
  -# TODO need to add images as carousel
  -# example: https://www.w3schools.com/bootstrap/bootstrap_carousel.asp

  %div.carousel.slide.mb-4{ "data-ride" => "carousel", :id => 'homepage__image-carousel'}
    // Indicators
    %ol.carousel-indicators
      %li.active{"data-target" => "#homepage__image-carousel", "data-slide-to"=>"0"}
      %li{"data-target" => "#homepage__image-carousel", "data-slide-to"=>"1"}
      %li{"data-target" => "#homepage__image-carousel", "data-slide-to"=>"2"}

    // Wrapper for slides
    %div.carousel-inner{ :role => "listbox" }
      // Slide One
      %div.carousel-item.active.img-fluid.crop=image_tag 'slideshow1.jpg', :class => "d-block w-30 "
      // Slide Two
      %div.carousel-item.img-fluid.crop=image_tag 'slideshow2.jpg', :class => "d-block w-30"
      // Slide Three
      %div.carousel-item.img-fluid.crop=image_tag 'slideshow3.jpg', :class => "d-block w-30"

    // Controls
    %a.carousel-control-prev{:href => "#homepage__image-carousel", :role => "button", 'data-slide'=>"prev"}
      %span.carousel-control-prev-icon
      %span.sr-only Previous
    %a.carousel-control-next{:href => "#homepage__image-carousel", :role => "button", 'data-slide'=>"next"}
      %span.carousel-control-next-icon
      %span.sr-only Next

  %h3 Calendar Events

  -@calendar_events.each do |event|
    / Add a line to separate between events
    %span
      =link_to event.title, calendar_event_path(event)
      =event.start_date_time ? event.start_date: "No date indicated"
      =event.start_date_time ? event.start_time: "No time indicated"
      =event.location
      =truncate(event.description, length: 50)
      =event.contact_person

  %br
  %br
