#main.container
  -# TODO need to add images as carousel
  -# example: https://www.w3schools.com/bootstrap/bootstrap_carousel.asp

  %h3 Calendar Events

  -@calendar_events.each do |event|
    / Add a line to separate between events
    %span
      =link_to event.title, calendar_event_path(event)
      =event.start_date_time ? event.start_date: "No date indicated"
      =event.start_date_time ? event.start_time: "No time indicated"
      =event.location
      =truncate(event.description, length: 50)
      =event.contact_person

  / Room for footer?
  %br
  %br
