#main.container.text-center
  .row
    .col-md-2
    .col-md-8
      %br
      %h2 About Hamilton Central and The Parents Teachers Organization
      %br
      %div.h6 Hamilton Central School, located on West Kendrick Avenue, Hamilton, New York was established in 1946. It educates students in kindergarten through grade 12, with an average class size of 45 and a teacher to student ratio of 1:10. Hamilton Central School Parent Teacher Organization is dedicated to support parents and teachers of HCS. Our members of the PTO for the year 2017-2018 are listed as follows.

      %br
      %h4 Officers for 2017-2018
      %br
      %ul
        %li.h6 Jennifer Jones, Co-President
        %li.h6 Kathleen Catania, Co-President
        %li.h6 Kathleen Stahl, Vice President (Middle & High School)
        %li.h6 Karli Murray, Vice President (Elementary)
        %li.h6 Alicia Simmons, Secretary
        %li.h6 ​Carey Hay, Treasurer

      %br
      %h4 Chairs for 2017-2018
      %br
      %ul
        %li.h6  ​Angela Britton: Holiday Chair
        %li.h6  Karen Rains: PARP Chair
        %li.h6  Jackie Cleary and Liz Bodian: BoxTops Chair
        %li.h6  Sabrina Craven: Faculty/Staff Luncheon Chair
        %li.h6  Sheila Catania: Book Fair Chair
        %li.h6  Amy Sommers: Garden Coordinator
        %li.h6  ​Tara Langel: Health & Wellness Coordinator

      %br
      %a
        Contact us at
        =mail_to("HamiltonCentralPTO@gmail.com")
      %br

        Read about our established
        =link_to "By laws", 'https://docs.google.com/document/d/1785HHe3mqN0L6s-q8n5WEkGLx5WfpNo5Gzb2bzz9fQo/edit', :class => 'pages__item--link'
    .col-md-2
