#main.container
  %div.pages--primary
    Hamilton Central School encourages participation in the various musical, dramatic, athletic, journalistic and intellectual activities listed below.  Those marked with an asterisk have an academic eligibility requirement.  The coach or advisor, upon approval by the principal, has the prerogative to establish reasonable criteria, oral or written, for participation in their respective extra-curricular program.

  %div.pages--primary
    %ul
      %li.pages__item--primary Almeda
      %li.pages__item--primary  Amnesty International
      %li.pages__item--primary  Chess Club
      %li.pages__item--primary  FFA
      %li.pages__item--primary  French Club
      %li.pages__item--primary  Greensleeves (Drama)
      %li.pages__item--primary  Hamilton Outdoor Group
      %li.pages__item--primary  International Thespian Society
      %li.pages__item--primary  Jazz Band
      %li.pages__item--primary  Latin Club
      %li.pages__item--primary  Masquers
      %li.pages__item--primary  Model UN
      %li.pages__item--primary  National Honor Society
      %li.pages__item--primary  Odyssey of the Mind (OM)
      %li.pages__item--primary  SADD
      %li.pages__item--primary  Ski Club
      %li.pages__item--primary  Spanish Club
      %li.pages__item--primary  Student Council (HS & MS)
      %li.pages__item--primary  Teen Aids Task Force (TATF)

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam efficitur metus ligula, in fermentum turpis sollicitudin et. Sed eu dolor quis mauris sodales placerat. Nullam tincidunt interdum nisl, quis sodales ex mollis feugiat. Cras vel tincidunt ligula. Vestibulum interdum diam odio, eu lobortis velit finibus quis. Cras nec mauris sodales, euismod ex at, ornare ipsum. Maecenas ornare egestas volutpat. Suspendisse pretium, enim at cursus scelerisque, nisl risus blandit mi, lobortis condimentum nulla erat ut elit. Praesent fermentum aliquet neque, et ornare augue. Nullam consequat et lacus ultricies condimentum. In hac habitasse platea dictumst. Ut ultricies, odio non dignissim posuere, urna eros posuere augue, in tristique odio justo eget nulla. Donec ligula libero, mollis ac placerat sit amet, convallis dictum urna. Donec nec vehicula enim. Maecenas pharetra libero eget risus feugiat tristique. Duis varius tortor urna, et varius erat pellentesque vitae.

  Sed faucibus, lacus vel ornare suscipit, nisi lorem mollis risus, et mollis ipsum felis et ligula. Integer ligula mauris, tristique eu efficitur a, pellentesque id mi. Sed est est, pellentesque eget mollis eu, vulputate id sem. Ut non risus leo. Etiam in diam sollicitudin, sagittis eros a, imperdiet ante. Morbi eget ex in justo sagittis faucibus eget finibus lorem. Nulla cursus gravida efficitur. Aliquam vel felis eget quam laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eget urna tempus, molestie massa a, vulputate sem. Duis posuere, sapien sit amet venenatis ultrices, nisl purus lacinia purus, eget egestas purus felis a felis. Nunc consequat ullamcorper augue eget blandit. Donec nisl erat, ornare vel viverra sed, blandit at tellus. Aliquam venenatis eget magna non vestibulum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

  Etiam efficitur hendrerit diam. Nulla orci erat, imperdiet ac tempor vel, fringilla quis ante. Sed neque lorem, aliquet eget fringilla quis, consequat quis turpis. Maecenas non ultrices diam. Integer interdum, sapien id dapibus vehicula, diam nisi rhoncus est, quis tristique lectus est non eros. Nulla facilisi. Maecenas efficitur a augue eu varius. Vivamus posuere pellentesque nisi ut rutrum. Donec lobortis, orci quis tincidunt hendrerit, magna enim blandit risus, sed efficitur magna erat porttitor leo.

  Cras quis blandit eros, sit amet efficitur sapien. Suspendisse venenatis est ut dictum efficitur. Maecenas eget hendrerit turpis, eget lacinia justo. Praesent aliquam gravida mi vitae ullamcorper. Duis euismod facilisis ex sed egestas. Donec sit amet lectus mi. Vestibulum facilisis risus vel purus varius tristique. Sed vel lacinia nisl, feugiat pulvinar nisi. Donec ac rhoncus magna, in mollis sem. Fusce tempor eu metus sit amet sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar eu orci sed pharetra. Vivamus non lorem vitae nulla aliquam accumsan at a justo. Fusce porttitor elementum nisl eget rutrum. Suspendisse non ligula sagittis, condimentum eros rutrum, tempor metus.

  Suspendisse gravida bibendum consequat. Suspendisse ac libero et odio condimentum fringilla ac eget ligula. Nullam id dui ac ex posuere posuere. Duis gravida pellentesque venenatis. Proin in lorem id ante mollis elementum vitae id arcu. Nam rhoncus, tellus non volutpat laoreet, magna orci lacinia augue, pharetra sodales leo neque eu est. Praesent sed diam neque. Aliquam dignissim magna id neque aliquet mollis. Integer quis tempus tellus. Duis ac interdum nunc, vel pulvinar orci. Donec tincidunt, arcu ac pellentesque placerat, ligula magna condimentum arcu, eu malesuada nunc est sed urna. Praesent maximus risus et eros rhoncus, at efficitur felis interdum. Curabitur vitae lorem ullamcorper, lobortis lorem dapibus, ultrices turpis.

  Nulla venenatis consectetur mi ac porta. Fusce eu sollicitudin ex, sed ullamcorper nisl. Donec lacinia tempus tellus sed consequat. Maecenas nec purus ut lorem facilisis tristique. Morbi eget mauris nisi. Nam sit amet commodo libero, ut ullamcorper mi. Aenean placerat, turpis nec dapibus ornare, quam arcu tincidunt eros, vitae ultricies lorem est eu ante. Pellentesque et ex lorem. Nulla mattis, ante et efficitur aliquam, sapien eros dictum turpis, scelerisque consequat nibh diam et justo. Sed rhoncus ullamcorper libero vel ultrices. Morbi luctus pharetra dui at sagittis. Sed id dictum purus, et suscipit velit.

  Duis blandit consectetur nisl vel tempus. Vestibulum aliquam eget sem id euismod. Quisque ac gravida quam, vulputate semper dui. Integer sollicitudin eleifend finibus. Phasellus eros turpis, molestie ac ante quis, interdum tempor quam. Sed malesuada arcu eget fermentum venenatis. Integer quis egestas erat. Nunc dapibus porta tortor, aliquet pretium urna aliquam sit amet.

  Vivamus dictum enim quam, ac tempus mauris molestie dictum. Praesent vitae mollis nibh, in consectetur mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc porta ante in massa sollicitudin vulputate. Aliquam sit amet leo nulla. Praesent nulla nulla, ultricies quis laoreet ut, ultrices a sapien. Curabitur mauris leo, facilisis gravida dignissim ac, sollicitudin nec erat. Integer venenatis diam tellus.

  Donec quis fringilla ligula. Etiam vitae ex ac neque tristique ultricies vitae eget tellus. Aliquam sed consequat sem. Phasellus sagittis dui vitae libero vehicula faucibus. Sed scelerisque, nunc ut gravida aliquam, eros arcu volutpat risus, in lacinia nisl elit eget orci. Curabitur leo augue, accumsan id tortor et, egestas laoreet neque. Morbi sed ex nec lacus commodo commodo. Duis quis velit tempor, blandit quam vitae, dictum metus. Duis scelerisque nibh in magna tincidunt, vel luctus urna bibendum. Sed maximus tincidunt magna, nec viverra diam eleifend vel. Suspendisse et eleifend diam. Nullam in ex ut risus congue ullamcorper eu id augue. Proin ac arcu eleifend, lobortis tellus id, sagittis lectus. Donec pretium sem vitae congue cursus. Praesent vel consequat erat. Nullam nunc risus, dapibus sed nisi vel, commodo facilisis est.
