#main.container
  %div.pages--primary
    Hamilton Central School encourages participation in the various musical, dramatic, athletic, journalistic and intellectual activities listed below.  Those marked with an asterisk have an academic eligibility requirement.  The coach or advisor, upon approval by the principal, has the prerogative to establish reasonable criteria, oral or written, for participation in their respective extra-curricular program.

  %br
  %div.pages--primary
    %ul
      %li.pages__item--primary Almeda
      %li.pages__item--primary  Amnesty International
      %li.pages__item--primary  Chess Club
      %li.pages__item--primary  FFA
      %li.pages__item--primary  French Club
      %li.pages__item--primary  Greensleeves (Drama)
      %li.pages__item--primary  Hamilton Outdoor Group
      %li.pages__item--primary  International Thespian Society
      %li.pages__item--primary  Jazz Band
      %li.pages__item--primary  Latin Club
      %li.pages__item--primary  Masquers
      %li.pages__item--primary  Model UN
      %li.pages__item--primary  National Honor Society
      %li.pages__item--primary  Odyssey of the Mind (OM)
      %li.pages__item--primary  SADD
      %li.pages__item--primary  Ski Club
      %li.pages__item--primary  Spanish Club
      %li.pages__item--primary  Student Council (HS & MS)
      %li.pages__item--primary  Teen Aids Task Force (TATF)

    For more information, please take a look at the school official
    =link_to "website", 'https://www.hamiltoncentral.org/domain/70', :class => 'pages__item--link'
  %br

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam efficitur metus ligula, in fermentum turpis sollicitudin et. Sed eu dolor quis mauris sodales placerat. Nullam tincidunt interdum nisl, quis sodales ex mollis feugiat. Cras vel tincidunt ligula. Vestibulum interdum diam odio, eu lobortis velit finibus quis. Cras nec mauris sodales, euismod ex at, ornare ipsum. Maecenas ornare egestas volutpat. Suspendisse pretium, enim at cursus scelerisque, nisl risus blandit mi, lobortis condimentum nulla erat ut elit. Praesent fermentum aliquet neque, et ornare augue. Nullam consequat et lacus ultricies condimentum. In hac habitasse platea dictumst. Ut ultricies, odio non dignissim posuere, urna eros posuere augue, in tristique odio justo eget nulla. Donec ligula libero, mollis ac placerat sit amet, convallis dictum urna. Donec nec vehicula enim. Maecenas pharetra libero eget risus feugiat tristique. Duis varius tortor urna, et varius erat pellentesque vitae.

  Sed faucibus, lacus vel ornare suscipit, nisi lorem mollis risus, et mollis ipsum felis et ligula. Integer ligula mauris, tristique eu efficitur a, pellentesque id mi. Sed est est, pellentesque eget mollis eu, vulputate id sem. Ut non risus leo. Etiam in diam sollicitudin, sagittis eros a, imperdiet ante. Morbi eget ex in justo sagittis faucibus eget finibus lorem. Nulla cursus gravida efficitur. Aliquam vel felis eget quam laoreet luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi eget urna tempus, molestie massa a, vulputate sem. Duis posuere, sapien sit amet venenatis ultrices, nisl purus lacinia purus, eget egestas purus felis a felis. Nunc consequat ullamcorper augue eget blandit. Donec nisl erat, ornare vel viverra sed, blandit at tellus. Aliquam venenatis eget magna non vestibulum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
