#main.container
  %div.pages--primary
    Hamilton Central School encourages participation in the various musical, dramatic, athletic, journalistic and intellectual activities listed below.  Those marked with an asterisk have an academic eligibility requirement.  The coach or advisor, upon approval by the principal, has the prerogative to establish reasonable criteria, oral or written, for participation in their respective extra-curricular program.

  %br
  %div.pages--primary
    %ul
      %li.pages__item--primary Almeda
      %li.pages__item--primary  Amnesty International
      %li.pages__item--primary  Chess Club
      %li.pages__item--primary  FFA
      %li.pages__item--primary  French Club
      %li.pages__item--primary  Greensleeves (Drama)
      %li.pages__item--primary  Hamilton Outdoor Group
      %li.pages__item--primary  International Thespian Society
      %li.pages__item--primary  Jazz Band
      %li.pages__item--primary  Latin Club
      %li.pages__item--primary  Masquers
      %li.pages__item--primary  Model UN
      %li.pages__item--primary  National Honor Society
      %li.pages__item--primary  Odyssey of the Mind (OM)
      %li.pages__item--primary  SADD
      %li.pages__item--primary  Ski Club
      %li.pages__item--primary  Spanish Club
      %li.pages__item--primary  Student Council (HS & MS)
      %li.pages__item--primary  Teen Aids Task Force (TATF)

    For more information, please take a look at the school official
    =link_to "website", 'https://www.hamiltoncentral.org/domain/70', :class => 'pages__item--link'
  %br


