#main.container
  .row
    .col-md-2
    .col-md-8
      %br
      %h2.text-center Clubs and Organizations
      %br
      %div.h6.text-center Hamilton Central School encourages participation in the various musical, dramatic, athletic, journalistic and intellectual activities listed below.  Those marked with an asterisk have an academic eligibility requirement.  The coach or advisor, upon approval by the principal, has the prerogative to establish reasonable criteria, oral or written, for participation in their respective extra-curricular program.

      %br
      %div.text-center
        %ul
          %li.h6  Almeda
          %li.h6  Amnesty International
          %li.h6  Chess Club
          %li.h6  FFA
          %li.h6  French Club
          %li.h6  Greensleeves (Drama)
          %li.h6  Hamilton Outdoor Group
          %li.h6  International Thespian Society
          %li.h6  Jazz Band
          %li.h6  Latin Club
          %li.h6  Masquers
          %li.h6  Model UN
          %li.h6  National Honor Society
          %li.h6  Odyssey of the Mind (OM)
          %li.h6  SADD
          %li.h6  Ski Club
          %li.h6  Spanish Club
          %li.h6  Student Council (HS & MS)
          %li.h6  Teen Aids Task Force (TATF)

        .h6 For more information, please take a look at the school official website
        .text-center=link_to "Hamilton Central Website", 'https://www.hamiltoncentral.org/domain/70', :class => 'pages__item--link'
      %br
    .col-md-2
