#main.container
  %br
  %br

  %div.pages--primary
    Hamilton Central School encourages participation in the various musical, dramatic, athletic, journalistic and intellectual activities listed below.  Those marked with an asterisk have an academic eligibility requirement.  The coach or advisor, upon approval by the principal, has the prerogative to establish reasonable criteria, oral or written, for participation in their respective extra-curricular program.

  %br
  %div.pages--primary
    %ul
      %li.pages__item--secondary  Almeda
      %li.pages__item--secondary  Amnesty International
      %li.pages__item--secondary  Chess Club
      %li.pages__item--secondary  FFA
      %li.pages__item--secondary  French Club
      %li.pages__item--secondary  Greensleeves (Drama)
      %li.pages__item--secondary  Hamilton Outdoor Group
      %li.pages__item--secondary  International Thespian Society
      %li.pages__item--secondary  Jazz Band
      %li.pages__item--secondary  Latin Club
      %li.pages__item--secondary  Masquers
      %li.pages__item--secondary  Model UN
      %li.pages__item--secondary  National Honor Society
      %li.pages__item--secondary  Odyssey of the Mind (OM)
      %li.pages__item--secondary  SADD
      %li.pages__item--secondary  Ski Club
      %li.pages__item--secondary  Spanish Club
      %li.pages__item--secondary  Student Council (HS & MS)
      %li.pages__item--secondary  Teen Aids Task Force (TATF)

    For more information, please take a look at the school official
    =link_to "website", 'https://www.hamiltoncentral.org/domain/70', :class => 'pages__item--link'
  %br
