$bg-light: #FAFAFA;
$bg-dark: #AFAFAF;

$text-color: #424651;
$text-color-light: #3C3635;
$text-color-dark: #000000;
$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Abril Fatface', serif;

$primary-color: #726DA8;
$primary-color-dark: #53507B;

$secondary-color: #39A0ED;
$secondary-color-dark: #2A75AD;

// School color
$emerald-green: #006600; // Emerald green
$school-white: #ffffff;
$light-emerald-green: #0a650c;
