/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "bootstrap.min";
 @import "colors";
 #warning {
   background-color: red;
   font-size: 18px;
 }

 #notice {
   background-color: green;
   text-align: center;
   font-family: Arial;
   font-size: 18px;
 }

// For more information about the scss syntax and the sass language, go to http://sass-lang.com/guide
// I think it's fine to use vanilla CSS in an scss file, but there are many advantages to using SCSS
// over regular CSS

// Text Styling

.subtitle {
  color: $text-color-light;
}

body {
  background-color: $bg-light;
  font-family: $font-sans;
  // padding-top: 60px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;  }

  a:focus {
    outline: 0; }

nav li ol {
  list-style: none;
  padding: 0;
  margin: 0; }

h1 {
  font-weight: 800;
}
.bg-emerald {
  //background-image: linear-gradient(to top right, #008B45, $light-emerald-green);
  background-color: darkgreen;
}

.bd-navbar .navbar-nav .nav-link {
  color: lightgreen;
}

.navbar-nav {
  font-size: 0.85rem; }
  @media (min-width: 750px) {
    .navbar {
      padding: 5px 20px; } }
  @media (min-width: 1024px) {
    .navbar-nav {
      font-size: 1.1rem; } }

.navbar-brand {
  font-size: 1.3rem;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

// .crop {
//   height: 300px;
//   width: 1500px;
//   overflow: hidden;
// }
.crop img {
  height: 300px;
  width: auto;
}

.crop-card img{
  height: 180px;
  width: 350px;
  overflow: hidden;
}

.homepage__event__title {
  font-weight: 700;
  font-size: 1.15rem;
}

.homepage__event__description {
  font-weight: 300;
  font-size: 0.9rem;
}

.homepage__event__footer {
  font-weight: 200;
  font-size: 0.75rem;}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
  opacity: 0.4;
}
