// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "colors";

div {
  font-family: $font-sans;
  font-size: 18px;
}

// .navbar__item--primary{
//   padding-top: 170px;
//   height: 100px;
//   background-image: image-url('hcs2.jpg');
//   // background: linear-gradient(#004092, #020202, transparent), url("hcs2.jpg") no-repeat center;
//   background-size: cover;
//   box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
// }

.pages__item--link {
  color: blue;
}

a[href^="mailto:"] {
  color: red;
}
