// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "colors";

div {
  font-family: $font-sans;
}

.pages__text--primary{
  font-size: 1rem;
}

.pages__item--primary {
  font-size: 1.25rem;
  font-weight: 800;
  color: $emerald-green;
}

.pages__item--secondary {
  font-weight: 400;
  color: black;
}

.pages__item--link {
  color: blue;
}

a[href^="mailto:"] {
  color: red;
}
