// Place all the styles related to the UserAccount controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#main.container{
  font-family: Vollkorn;
  .header{
    color: $emerald-green;
  }
  input.grade{
    width: 10%;
  }
  div.col-md-2{
    color: blue;
  }
  div.user{
    font-weight: bold;
  }
}
input{
  border-radius: 4px;
}

#error_explanation{
  color: black;
}

#edit_user_account{
  margin-left: 25px;
}
body{
    #back.a{
      color: blue;
    }
}

h2{
  color: $emerald-green;
  font-family: Vollkorn;
  margin-left: 25px;
}
